<!-- SLIDESHOW -->
<section id="home" class="text-center">
  <div id="carousel-example" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag("carousel-basil-1.jpg") %>
        <div class="carousel-caption" >
          <h4 class="back-light">Proud partners with Garfield hydroponics facility.</h4>
        </div>
      </div>
      <div class="item">
        <%= image_tag("carousel-basil-1.jpg") %>
        <div class="carousel-caption ">
          <h4 class="back-light">Aenean faucibus luctus enim. Duis quis sem risu suspend lacinia elementum nunc.</h4>
        </div>
      </div>
      <div class="item">
        <%= image_tag("carousel-basil-1.jpg") %>
        <div class="carousel-caption ">
          <h4 class="back-light">Aenean faucibus luctus enim. Duis quis sem risu suspend lacinia elementum nunc.</h4>
        </div>
      </div>
    </div>
    <ol class="carousel-indicators">
      <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example" data-slide-to="1"></li>
      <li data-target="#carousel-example" data-slide-to="2"></li>
    </ol>
  </div>
</section>


<!-- ABOUT -->
<section id="about">
  <div class="container">
    <div class="row" >
      <div class="col-md-12">
        <h2>About</h2>
        <p>The Chicago Eco House offers renewable energy based energy efficient housing facilities while connecting economically displaced homeless inner city young people to viable green collar jobs. We want to build Eco Homes throughout Chicago to offer displaced inner city youth the opportunity to engage in viable green collar jobs; thus, transforming the face of the inner city.</p>
        <p>Our goal is to stabilize inner city neighborhoods by fostering safe living spaces and offering career training in green collar jobs.</p>
      </div>
    </div>
  </div>
</section>

<!-- DONATE -->
<section id="donate">
  <div class="container">
    <div class="row text-center" >
      <div class="col-md-12">
        <div class="row text-center pad-row  ">
          <div class="col-md-12 ">
            <h2>Help Us Change The Inner City</h2> 
            <p>Your contribution today will help change the lives of displaced young adults in Chicago.</p>
          </div>
      </div>
    </div>
  </div>
</section>

<!-- MISSION -->
<section class="mission" >
  <div class="container">
    <div class="row text-center pad-row" >
      <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 ">
        <i class="fa fa-quote-left fa-3x"></i>
        <h2>Mission</h2>
        <p>To alleviate homelessness and poverty through sustainable solutions one house at a time. Restoring homes, lives and communities.</p>
      </div>
    </div>
  </div>
</section>


<!-- TOPICS -->
<section id="topics">
  <div class="container">
    <div class="row text-center pad-row">
      <div class="col-md-4  col-sm-4">
        <h2>Partnerships</h2>
        <p>The Chicago Eco House believes that success is more likely in partnership with key community stakeholders. Check out some of the relationships that help us to better serve our city.<span class="read-more"> Read more.</span></p>
      </div>
      <div class="col-md-4  col-sm-4">
        <h2>Programs</h2>
        <p>The Chicago Eco House is launching some exciting new programs aimed at restoring Chicago's inner city!<span class="read-more"> Read more.</span></p>
      </div>
      <div class="col-md-4  col-sm-4">
        <h2>Current News</h2>
        <p>The Chicago Eco House is launching some exciting new programs aimed at restoring Chicago's inner city! Read more. Latest news.</p>
      </div>
    </div>
  </div>
</section>


<!-- TEAM -->
<section id="team">
  <div class="container">
    <div class="row text-center pad-bottom" >
      <div class="col-md-12">
        <h2>Team</h2>
      </div>
    </div>
    <div class="row text-center pad-bottom">
      <div class="col-md-4">
        <%= image_tag("team-quilen.jpg", class: "img-circle")%>
        <h3 class="title-position">President</h3>
        <h3>Quilen Blackwell</h3>
      </div>
      <div class="col-md-4 ">
        <%= image_tag("team-hannah.jpg", class: "img-circle")%>
        <h3 class="title-position">Vice President</h3>
        <h3>Larry Jackson</h3>
      </div> 
      <div class="col-md-4">
        <%= image_tag("team-andres.jpg", class: "img-circle")%>
       <h3 class="title-position">Director</h3>
        <h3>Andres Velarde</h3>
        <h3 class="title-position">Property Management</h3>
      </div>
    </div>
    <div class="row text-center pad-bottom">
      <div class="col-md-4">
        <%= image_tag("team-marlene.jpg", class: "img-circle")%>
        <h3 class="title-position">Director</h3>
        <h3>Marlene Paez</h3>
        <h3 class="title-position">Fund Development</h3>
      </div>
      <div class="col-md-4">
        <%= image_tag("team-hannah.jpg", class: "img-circle")%>
       <h3 class="title-position">Director</h3>
       <h3>Hannah Bonham</h3>
        
        <h3 class="title-position">Community Relations</h3>
      </div>
      <div class="col-md-4">
        <%= image_tag("team-sharon.jpg", class: "img-circle")%>
        <h3 class="title-position">Director</h3>
        <h3>Sharon Johnson</h3>
        <h3 class="title-position">Organizational Development</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <%= image_tag("team-cassie.jpg", class: "img-circle")%>
        <h3>Cassie Shumway</h3>
        <h3 class="title-position">Web and Design Specialist</h3>
      </div>
      <div class="col-md-4">
        <%= image_tag("team-hannah.jpg", class: "img-circle")%>
        <h3>Ellen Lose</h3>
        <h3 class="title-position">Community Outreach Officer</h3>
      </div>
      <div class="col-md-4">
        <%= image_tag("team-hannah.jpg", class: "img-circle")%>
        <h3>Stephanie Wall</h3>
        <h3 class="title-position">Events Coordinator</h3>
      </div>
    </div>
  </div>
</section>
